<ion-view view-title="Home">
  <ion-content >

<!-- 	<div class="swiper-container" >
		<div class="swiper-wrapper" >
			<div class="swiper-slide"><img src="img/index/swiper_1.png" alt=""></div>
			<div class="swiper-slide"><img src="img/index/swiper_2.png" alt=""></div>
			<div class="swiper-slide"><img src="img/index/swiper_3.png" alt=""></div>
		</div>
		<div class="swiper-pagination"></div>
	</div> -->

	<ion-slide-box >
	  <ion-slide>
	    <img src="img/index/swiper_1.png" width="100%" alt="">
	  </ion-slide>
	  <ion-slide>
	    <img src="img/index/swiper_2.png" width="100%" alt="">
	  </ion-slide>
	  <ion-slide>
	    <img src="img/index/swiper_3.png" width="100%" alt="">
	  </ion-slide>
	</ion-slide-box>

	<div class="row" style="color:#5f646e;font-size:0.1rem;">
		<div class="col" align="middle" ><a href="#/tab/home/nearby"><img src="img/index/icon_1.png" width="100%" /></a><span>我要充电</span></div>
		<div class="col" align="middle" ><a href="#/tab/home/plan"><img src="img/index/icon_2.png" width="100%" /></a><span>线路规划</span></div>
		<div class="col" align="middle" ><a href="#"><img src="img/index/icon_3.png" width="100%" /></a><span>我要代充</span></div>
		<div class="col" align="middle" ><a href="#"><img src="img/index/icon_4.png" width="100%" /></a><span>我要养车</span></div>
		<div class="col" align="middle" ><a href="#"><img src="img/index/icon_5.png" width="100%" /></a><span>电车资讯</span></div>
	</div>
	<div class="row" style="color:#5f646e;font-size:0.1rem;">
		<div class="col" align="middle" ><a href="#"><img src="img/index/icon_6.png" width="100%" /></a><span>会员福利</span></div>
		<div class="col" align="middle" ><a ng-click="scanQR()"><img src="img/index/icon_7.png" width="100%" /></a><span>扫码充电</span></div>
		<div class="col" align="middle" ><a href="#"><img src="img/index/icon_8.png" width="100%" /></a><span>关注我们</span></div>
		<div class="col" align="middle" ></div>
		<div class="col" align="middle" ></div>
	</div>


	<div class="content-block-title">社区精选</div>

	<ion-list>
	  <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="post in posts" type="item-text-wrap" href="#/tab/forum/{{post.id}}">
	    <img ng-src="{{post.face}}">
	    <h2>{{post.name}}</h2>
	    <p>{{post.lastText}}</p>
	    <i class="icon ion-chevron-right icon-accessory"></i>

	    <ion-option-button class="button-assertive" ng-click="view(post)">
	      View
	    </ion-option-button>
	  </ion-item>
	</ion-list>

	<div class="card facebook-card">
		<div class="card-header no-border">
			<div class="facebook-avatar"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="34" height="34"></div>
			<div class="facebook-name">= =</div>
			<div class="facebook-date">QAQ</div>
		</div>
		<div class="card-footer no-border">
			<div class="card-content">强势吐槽专用区欢迎各种吐槽哈哈哈</div>
			<a href="#" class="link">赞</a>
			<a href="#" class="link">评论</a>
			<a href="#" class="link">分享</a>
		</div>
	</div>  
	<div class="card facebook-card">
		<div class="card-header no-border">
			<div class="facebook-avatar"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="34" height="34"></div>
			<div class="facebook-name">= =</div>
			<div class="facebook-date">QAQ</div>
		</div>
		<div class="card-footer no-border">
			<div class="card-content">强势吐槽专用区欢迎各种吐槽哈哈哈</div>
			<a href="#" class="link">赞</a>
			<a href="#" class="link">评论</a>
			<a href="#" class="link">分享</a>
		</div>
	</div>  
	<div class="card facebook-card">
		<div class="card-header no-border">
			<div class="facebook-avatar"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="34" height="34"></div>
			<div class="facebook-name">= =</div>
			<div class="facebook-date">QAQ</div>
		</div>
		<div class="card-footer no-border">
			<div class="card-content">强势吐槽专用区欢迎各种吐槽哈哈哈</div>
			<a href="#" class="link">赞</a>
			<a href="#" class="link">评论</a>
			<a href="#" class="link">分享</a>
		</div>
	</div>        

	<div class="card facebook-card">
		<div class="card-header no-border">
			<div class="facebook-avatar"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="34" height="34"></div>
			<div class="facebook-name">= =</div>
			<div class="facebook-date">QAQ</div>
		</div>
		<div class="card-footer no-border">
			<div class="card-content">强势吐槽专用区欢迎各种吐槽哈哈哈</div>
			<a href="#" class="link">赞</a>
			<a href="#" class="link">评论</a>
			<a href="#" class="link">分享</a>
		</div>
	</div>  

  </ion-content>
</ion-view>